---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { styles } from "../styles/tailwindStyle";
import Card from "../components/Card.astro";
---

<BaseLayout pageTitle="Committee">
	<Navbar pageTitle="Committee"/>
	<div class=`${styles.mainPadding} flex flex-col items-center gap-[2vw]`>
		<h1 class=`font-heading text-primary font-black ${styles.xl3Text}`>AUMS Team 2024</h1>
		<div class="grid grid-cols-1 lg:grid-cols-2 gap-[2vw] w-full justify-center">
			<Card name="Peter Moskvichev" role="President" description="MPhil Student. Love hugging people ðŸ’–" imagePath="/src/assets/emoji.jpg"></Card>
			<Card name="Chethmi Anthony" role="Vide President" description="3rd year Maths Student. I love going to the Glenelg beach and enjoy the beautiful sun â˜€ï¸" imagePath="/src/assets/emoji.jpg"></Card>
			<Card name="Peter Moskvichev" role="President" description="MPhil Student. Love hugging people ðŸ’–" imagePath="/src/assets/emoji.jpg"></Card>
			<Card name="Chethmi Anthony" role="Vide President" description="3rd year Maths Student. I love going to the Glenelg beach and enjoy the beautiful sun â˜€ï¸" imagePath="/src/assets/emoji.jpg"></Card>
			<Card name="Peter Moskvichev" role="President" description="5th Year Mechatronic Engineering / Computer Science student. Beep boop beep boop, ask me anything about analytics, I'm not a lizard I swear ðŸ¦Ž" imagePath="/src/assets/emoji.jpg"></Card>
			<Card name="Nancy Lu" role="Technomancer" description="4th Year Actuarial Studies / Commerce student. Major in unspoken Actuarizzal Studies ðŸ˜Ž, I enjoy watching the sunset and vibing to a wide range of music." imagePath="/src/assets/emoji.jpg"></Card>
		</div>
	</div>
	<Footer/>
</BaseLayout>
