---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { styles } from "../styles/tailwindStyle";
import Card from "../components/Card.astro";
---

<BaseLayout pageTitle="Committee">
	<Navbar pageTitle="Committee" />
	<div class=`px-8 md:px-16 py-8 pb-16 flex flex-col items-center gap-[2vw]`>
		<h1 class=`font-heading text-primary font-black ${styles.xl3Text}`>
			AUMS Team 2024
		</h1>
		<div
			class="grid grid-cols-1 lg:grid-cols-2 gap-[2vw] w-full justify-center"
		>
			<Card
				name="Peter Moskvichev"
				role="President"
				description="Master of Philosophy in Mathematics Candidate. Hi, my name is Peter, and I'm a maths fan. Hope to make a lot of friends at upcoming AUMS events 👋😎"
				imagePath="/src/assets/committee-images/peter-moskvichev.jpeg"
			/>
			<Card
				name="Chethmi Anthony"
				role="Vide President/External Engagements"
				description=""
				imagePath="/src/assets/committee-images/logo_whole.svg"
			/>
			<Card
				name="Jasper Harding"
				role="Treasurer"
				description=""
				imagePath="/src/assets/committee-images/logo_whole.svg"
			/>
			<Card
				name="Tijana Franco"
				role="Secretary"
				description=""
				imagePath="/src/assets/committee-images/logo_whole.svg"
			/>
			<Card
				name="Faith Sawers"
				role="Events Manager"
				description="3rd Year Mathematical Sciences Student. Hi! I’m Faith, and I think if triangles had a colour they would be green. I also have an identical twin!"
				imagePath="/src/assets/committee-images/faith-sawers.jpeg"
			/>
			<Card
				name="Liam Blake"
				role="Social Media Manager"
				description=""
				imagePath="/src/assets/committee-images/logo_whole.svg"
			/>
			<Card
				name="Manikya Maxim"
				role="International Representative"
				description=""
				imagePath="/src/assets/committee-images/logo_whole.svg"
			/>
			<Card
				name="Barry Tran"
				role="Second Year Rep/Technomancer"
				description="2nd Year Computer Science student. Catch me watching random Instagram reels or Ronaldo's highlights on Youtube✨. Hope to meet some cool maths kids"
				imagePath="/src/assets/committee-images/barry-tran.png"
			/>
			<Card
				name="Oliver Edwards"
				role="General Committee"
				description=""
				imagePath="/src/assets/committee-images/logo_whole.svg"
			/>
			<Card
				name="Matthew Drown"
				role="General Committee"
				description="Master of Philosophy (Pure Mathematics). <br> Likes: LaTeX, pure mathematics, board games. <br> Dislikes: Microsoft Word, statistics, people who dislike board games"
				imagePath="/src/assets/committee-images/matthew-drown.jpeg"
			/>
			<Card
				name="Chloe Pahl"
				role="General Committee"
				description=""
				imagePath="/src/assets/committee-images/logo_whole.svg"
			/>
			<Card
				name="Hakew Nguyen"
				role="General Committee"
				description="1st Year Computer Science student. Hi, I’m Hakew, a math enthusiast at heart. I also love programming. I'm looking forward to seeing you all at AUMS events! 😄😄😄"
				imagePath="/src/assets/committee-images/hakew-nguyen.jpg"
			/>
			<Card
				name="Nikhil Kapoor"
				role="General Committee"
				description="2nd year Master of Data Science Student. Hey, I'm Nikhil Kapoor, just a guy who loves untangling complex puzzles and coding up a storm. Excited to explore math and tech with everyone in the club!"
				imagePath="/src/assets/committee-images/nikhil-kapoor.jpg"
			/>
		</div>
	</div>
	<Footer />
</BaseLayout>
